#demoIzq, #demoDer { border:0px dashed; width:296px; text-align:left; }

#demoDer { float:right; position:relative; }

#lista
{
	position:absolute;
	width:300px;
	background-color:#006699; 
	color:#fff;
	border:1px dotted; border-color:#000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	z-index:1;
	top:20px;
	left:6px;
	display:none;
}

.resaltado
{
	background-color:#FFFFFF; color:#006699;
	cursor:pointer;
}

.normal
{
	background-color:#006699; color:#fff;
}